<div class="wrapper container">
  <h1 class="page-header">ABOUT</h1>
  <h3>Higher Studies</h3>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
        <img class="xl images" src="/assets/images/osu_logo.png" class="img-thumbnail" alt="OSU Logo" width="250" height="250">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 text-left">
        <br /> I Graduated from The Ohio State University - Columbus Campus in December 2016 with a degree in B.S Computer Information Science. As a vivid gamer from my childhood days I wanted to become a software developer. It all started by wanting
        to learn how to create computer games. However, the perspective has changed towards making a difference in the world by helping various communities.
      </div>
    </div>
    <hr />
    <h3>Interests</h3>
    <div class="row">
      <br />
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-left">
        <img class="xl images" src="/assets/images/cricket.jpg" class="img-thumbnail" alt="Cricket" width="250" height="250">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 text-justify">
        <br /> My other interests includes playing cricket in the weekends. I always loved playing cricket and now I keep doing that during the summer weekends. It definitely helps me to maintain physical activity.
      </div>
    </div>
    <hr />
  </div>
</div>
<!-- End of main container -->

<br />
