@white: #FFF;
@media (max-width: 768px) {
  .img-responsive {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

.wrapper {
  background-color: @white;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.4em;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.row {
  font-family: 'PT Sans', sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}
