<div class="wrapper container">
  <h1 class="page-header text-center">ABOUT</h1>
  <h3 class="text-center">Higher Studies</h3>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
        <img class="xl images" src="/assets/images/osu_logo.png" class="img-thumbnail" alt="OSU Logo" width="250" height="250">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 text-left">
        <br /> I Graduated from The Ohio State University - Columbus Campus in December 2016 with a degree in B.S Computer Information Science. As a vivid gamer from my childhood days I wanted to become a software developer. It all started by wanting
        to learn how make computer games. However, the perspective has changed towards making a difference in the world by helping various communities.
      </div>
    </div>
    <hr />
    <h3 class="text-center">Interests</h3>
    <div class="row">
      <br />
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-left">
        <img class="xl images" src="/assets/images/cricket.jpg" class="img-thumbnail" alt="Cricket" width="250" height="250">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 text-justify">
        <br /> During the weekends I play cricket. I am an active member of the OSU Cricket Team and participate in various leagues in the Midwest. I have participated in US College Cricket Nationals twice (2013-2016). When I am not playing cricket, I
        tend to work on my personal projects. Mobile application development is an area that I have been discovering in the recent years and have been focused on developing Android applications. I also love to travel as well as play video games.
      </div>
    </div>
    <hr />
  </div>
</div>
<!-- End of main container -->

<br />
