<div class="container">
  <h1 class="page-header text-center">ABOUT</h1>
  <h3 class="text-center">Higher Studies</h3>
  <br />

  <div class="row">
    <div class="col-md-6">
      <img src="/assets/images/osu_logo.png" class="img-thumbnail" alt="OSU Logo" width="250" height="250">
    </div>
    <div class="col-md-6">
      I Graduated from The Ohio State University - Columbus Campus in December 2016 with a degree in B.S Computer Information Science. As a vivid gamer from my childhood days I wanted to become a software developer. It all started by wanting to learn how make
      computer games. However, the perspective has changed towards making a difference in the world by helping various communities.
    </div>
  </div>

</div>
