<br/>
<div class=container>
  <h1 class="page-header text-center">PROJECTS</h1>
  <h3 class="text-center">Android</h3>
  <br />
  <h3>Duckworth Lewis Calculator</h3>
  <p>An application developed for the sport of cricket to calculate the final total in the case of an interruption (eg: rain). This is a personal project which is maintained in Github. User interface testing is done using Espresso. Continuous Integration
    is done using Circle CI.
    <br />
    The D/L method was devised by two British statisticians, Frank Duckworth and Tony Lewis.
    <br/><br />
    <img class="xl images img-thumbnail" src="/assets/images/secondInns1.png" alt="Second Innings Calculator" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/secondInnsTarget.png" alt="Second Innings Calculator Target" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/parScoreTable.png" alt="Par Score Table for the Second Innings" width="300" height="500">
    <br /><br />
    <a href="https://play.google.com/store/apps/details?id=com.sportsoutclass.outclassdl" target="_blank">Download DL Calculator</a>
  </p>
  <hr />
  <h3>Emertext</h3>
  <p>
    A semester course project done to learn mobile application development. This application assists the user to request help from others. It periodically sends text messages with a link to the location. This will happen until the phone is switched
    off or the user cancels the request.
    <br/><br />
    <img class="xl images img-thumbnail" src="/assets/images/emertext_main.png" alt="Emertext Main Page" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/emertext_pass.png" alt="Initial Password Setup" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/emertext_edit.png" alt="Edit Page" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/emertext_sms.png" alt="SMS Example" width="300" height="500">
  </p>
  <hr />
  <h3>Ardina</h3>
  <p>
    The final semester project developed at The Ohio State University. This application was developed from scratch to connect doctors and patients without them having to travel to the hospital. It uses a Firebase (NoSQL) database for patient and doctor registration.
    Once doctors show their availability in their portal, patients can select them and a call is made between them.
    <br/><br />
    <img class="xl images img-thumbnail" src="/assets/images/ardina_login.png" alt="Ardina Login" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/ardina_register.png" alt="Ardina Register" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/ardina_pick1.png" alt="Patient Symptom Picker" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/ardina_pick2.png" alt="Patient Symptom Selector" width="300" height="500">
  </p>
  <hr />
  <h3>Let's Play Tic Tac Toe</h3>
  <p>
    My first Android Project developed to learn the fundamentals of Android development. A small tictactoe application that contains a single player and a 2 player modes.
    Also contains two themes!
    <br/><br />
    <img class="xl images img-thumbnail" src="/assets/images/tictactoe_select.png" alt="Select Mode" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/tictactoe_turn.png" alt="Your Turn" width="300" height="500">
    <img class="xl images img-thumbnail" src="/assets/images/tictactoe_compWin.png" alt="Computer Wins!" width="300" height="500">
    <br /><br />
    <a href="https://play.google.com/store/apps/details?id=com.sachinda.v2.tictactoe" target="_blank">Download Let's Play Tic Tac Toe</a>
  </p>
</div>
<br />
