@white: #FFF;

.wrapper{
  background-color: @white;
  opacity: 0.8;
  font-size: 2.4em;
}

h1 {
  font-family: 'Lobster', cursive;
}

h3 {
  padding-left: 20px;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}
