<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="btn-home navbar-brand" href="/" role="button">Home</a>
    </div>
    <div class="navbar-header pull-right">
      <button routerLink="/app-resume" type="button" class="btn btn-link btn-lg navbar-btn navi-btns">Resume</button>
      <button routerLink="/app-work" type="button" class="btn btn-link btn-lg navbar-btn navi-btns">Projects</button>
      <button routerLink="/app-about" type="button" class="btn btn-link btn-lg navbar-btn navi-btns">About</button>
    </div>
  </div>
</nav>
<br/><br/><br/><br/><br/>
<div id="name-header" class="container jumbotron">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 text-center">
      <img src="/assets/images/sachinda.jpg" id="sach-image" class="img-circle" alt="Sachinda" width="200" height="200">
    </div>

    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12 text-center">
      <h1>Sachinda Liyanaarachchi</h1>
      <h3><small id="soft-dev">Software Developer</small></h3>
      <a href="https://www.linkedin.com/in/sachindayl" class="btn btn-sm" target="_blank"><img src="/src/assets/images/linkedin-3-48.png" alt="Linkedin" style="width:32px;height:32px;border:0;"></a>
      <a href="https://www.twitter.com/sachinda27" class="btn btn-sm" target="_blank"><img src="/src/assets/images/twitter-48.png" alt="Twitter" style="width:32px;height:32px;border:0;"></a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
