<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="navbar-header pull-right">
      <button routerLink="/app-resume" type="button" class="btn btn-default navbar-btn">Resume</button>
      <button type="button" class="btn btn-default navbar-btn">About</button>
    </div>
  </div>
</nav>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Sachinda Liyanaarachchi</h1>
      <h3><small>Software Developer</small></h3>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
