@white: #FFF;
@arsenic: #3B444B;
@black: #000;
@metallicseaweed: #087E8B;
@darkmagenta: #A11692;

.resume {
  font-family: 'PT Sans', sans-serif;
  background-image: url("/assets/images/repeat.jpg");
  background-attachment: fixed;
  font-size: 2.4em;
  color: @black;
}

.container {
  background-color: @white;
  opacity: 0.8;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  font-weight: bold;
}

li p
{
  color: @black;
}

li{
  color: @darkmagenta;
}

small{
  color: @black;
}
