<div class="resume">
  <div class="container">
    <h1 class="page-header">RESUME</h1>
    <h3 class="text-center">Introduction</h3>
    <ul>
      <li>
        <p>
          Highly Proficient in Java, Android development and its life cycle
        </p>
      </li>
      <li>
        <p>
          Android Applications developed and Available in the Google Play Store (details listed under personal projects)
        </p>
      </li>
      <li>
        <p>
          Work experience in Ruby/Cucumber Framework at Nationwide Insurance (Fortune 100 Company)
        </p>
      </li>
      <li>
        <p>
          Familiarity with Linux/Unix Programming, Agile and Waterfall methodologies
        </p>
      </li>
    </ul>
    <hr />
  </div>

  <div class="container">
    <h3 class="text-center">Education</h3>

    <h4>THE OHIO STATE UNIVERSITY <div class="pull-right"><small>Columbus, OH</small>
    </div></h4>
    <h5>Bachelor of Science in Computer Information Science <div class="pull-right"><small>Graduated December 2016</small></div></h5>
    <h5>Seeking Full-Time Job, Requires Sponsorship</h5>
    <hr />
  </div>

  <div class="container">
    <h3 class="text-center">Relevent Experience</h3>
    <br/>
    <h4>THE OHIO STATE UNIVERSITY CIVIL ENGINEERING DEPARTMENT <div class="pull-right"><small>Columbus, OH</small></div></h4>
    <h5>Student Research Assistant <div class="pull-right"><small>September 2015 – December 2016</small></div></h5>
    <ul>
      <li>
        <p>
          Created A device using a Raspberry Pi and Python to measure air quality and save data to a database
        </p>
      </li>
      <li>
        <p>
          Used sensors to measure Carbon Monoxide, Ozone, Particulate Matter, Nitrogen Dioxide in the environment
        </p>
      </li>
      <li>
        <p>
          Created a database logger using JSON in Treasure Data
        </p>
      </li>
    </ul>
    <br/>
    <h4>NATIONWIDE INSURANCE <div class= "pull-right"><small>Columbus, OH</small></div></h4>
    <h5>Application Developer Intern <div class="pull-right"><small>May 2015 – August 2015</small></div></h5>
    <ul>
      <li>
        <p>
          Internship outcome: Learned about automation testing, various testing tools and developed test cases for regression testing
        </p>
      </li>
      <li>
        <p>
          Wrote scripts for web applications using Ruby/Cucumber Framework and page object, Watir web driver gems
        </p>
      </li>
      <li>
        <p>
          Specifically did testing on the Oracle Peoplesoft Application for Nationwide
        </p>
      </li>
      <li>
        <p>
          Assisted with server testing using Jenkins
        </p>
      </li>
      <li>
        <p>
          Participated in the Nationwide Hackathon to create an Android Application
        </p>
      </li>
    </ul>
    <hr />
  </div>


  <div class="container">
    <h3 class="text-center">Course projects</h3>
    <ul>
      <li>
        <p>
          Ardina – An Android application that creates calls between patients and doctors to provide virtual medical and health services
        </p>
      </li>
      <li>
        <p>
          Emertext – An emergency text Android application to contact close friends when in need of help
        </p>
      </li>
      <li>
        <p>
          A Java based language interpreter to learn tokenizing, parsing and executing
        </p>
      </li>
      <li>
        <p>
          Client – Server based chatroom to understand networking protocols
        </p>
      </li>
    </ul>
    <hr />
  </div>

  <div class="container">
    <h3 class="text-center">Personal Projects</h3>
    <ul>
      <li>
        <p>
          DL Calculator - An Android application made for the sport cricket to calculate the final score after interruptions
        </p>
      </li>
      <li>
        <p>
          Lets Play Tic Tac Toe – An Android application with 1 player and 2 player modes.
        </p>
      </li>
      <li>
        <p>
          Android applications link to Google Store (https://goo.gl/ntQhRb)
        </p>
      </li>
      <li>
        <p>
          Github account contains many projects (github.com/sachindayl)
        </p>
      </li>
    </ul>
    <hr />
  </div>

  <div class="container">
    <h3 class="text-center">Additional Experience</h3>
    <h4>OHIO UNION MARKET <div class="pull-right"><small>Columbus, OH</small></div></h4>
    <h5>Student Assistant <div class="pull-right"><small>October 2013 – September 2015</small></div></h5>
    <hr />
  </div>

  <div class="container">
    <h3 class="text-center">Technical Toolbox</h3>
    <table class="table table-bordered table-striped">
      <tr>
        <td><strong>Programming Skills</strong></td>
        <td>Proficient - Android, CSS, HTML, Java, Git <br /> Familiar – Angular2, Bootstrap, Javascript, Python, C, PHP, Ruby(Frameworks: Rails, Cucumber), SQL, Firebase (NoSQL)</td>
      </tr>
      <tr>
        <td><strong>Relevent Additional Coursework</strong></td>
        <td>Web Development, Computer Networking, Database Management, Mobile Handsets and Networking, Mobile Application Development, Artificial Intelligence I, Principles of Programming Languages (Parsing)</td>
      </tr>
      <tr>
        <td><strong>Tools</strong></td>
        <td>Android Studio, Github, Gradle, IntelliJ Idea, RubyMine, Eclipse, Inkscape(for designing), Sublime Text 3, Atom, Circle CI (Continuous Integration)</td>
      </tr>
      <tr>
        <td><strong>Other</strong></td>
        <td>Windows, Linux Flavors (Arch, Ubuntu, Fedora, Raspbian), Trello (Project Management Tool)</td>
      </tr>
    </table>
    <hr />
  </div>

  <div class="container">
    <h3 class="text-center">Sports and Leadership Experience</h3>
    <ul>
      <li>
        <p>
          American College Cricket team USA (2016)
        </p>
      </li>
      <li>
        <p>
          Captain of the University cricket team (2015-2016)
        </p>
      </li>
      <li>
        <p>
          Member of the open source club (2012-2013)
        </p>
      </li>
      <li>
        <p>Member of the mobile applications club (2012-2012)</p>
      </li>
    </ul>
    <hr />
  </div>
</div>
<br />
